/* hacks and tricsks

 ===========>       
 text-shadow:
         -1px -1px 0 #000,  
          1px -1px 0 #000,
          -1px 1px 0 #000,
           1px 1px 0 #000;

           */



/*-----------variables-----*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap');



/*----------------mobile styles-------------------------------*/

.container{
    position: relative;
    width: 300px;
    height: 300px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    

}
.ImageClass{
    display: block;
    width: 300px;
    height: 300px;
    
    object-fit: cover;
    border-radius: 2rem;

    
    
}
.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}
p{
   
    color: white;
    font-size: 3rem;
    text-shadow: 1px 1px 2px black;
    
    
}
h1{
    
    text-transform: capitalize;
    color: rgb(243, 188, 7);
    text-shadow: 2px 2px 4px black;
    padding: 0 4rem;
    

}
/*-----------display to not get clumsy------------*/
.overlay{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.26);
    backdrop-filter: blur(2px);
    opacity: 0;
    transition: opacity 0.25s;
}
.overlay:hover{
    opacity: 1;
    cursor: pointer;
}
body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #f2994a, #f2c94c);
    height: 100vh;
    overflow: hidden;
    
    
    
}
.ImageClass{
    box-shadow: 3px 4px 15px black;
}

/*-------------------small screen---------------------- */
@media screen and (max-width : 500px){
   body{
       display: flex;
       height: 100vh;
       overflow-x: hidden;
       flex-direction: column;
       justify-content: space-around;
       align-items: center;
       gap: 2rem;

   } 
   
   
}



/*--------------------------tablets and laptops--------------------------*/
@media screen and (min-width : 1000px){
    
}


/*--------------------------larger screens-----------------*/
